body {
	margin: auto;
}

a {
	text-decoration: none;
}

button {
	color: #fff;
	padding: 5px;
	font-size: 16px;
	min-width: 20%;
	margin-top: 1%;
	margin-right: 8px;
	border-width: 1px;
	border-radius: 5px;
	border-color: #fff;
	cursor: pointer;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
	transform: scale(1.1);
} 

.primary {
	background-color: #0d6efd;
}

.success {
	background-color: #198754;
}

.danger {
	background-color: #dc3545;
}

.info {
	background-color: #0dcaf0;
}

.orange {
	background-color: #ef4f5f;
}

.white {
	background-color: #fff;
	color: black;
}

.checked {
	color: orange;
}

/* header css */
header {
	height: 60px;
	color: white;
	/* border: 2px solid red; */
	background-color: #3b2632;
}

#brand {
	float: left;
	margin-left: 2%;
	margin-top: 1%;
	font-size: 35px;
}

#brand >a {
	color: #fff;
	text-decoration: none;
}

#social {
	float: right;
	margin-right: 2%;
}

.social-logo {
	height: 40px;
	margin-left: 10px;
	margin-top: 6%;
}

/* content css */
#content {
	width: 80%;
	display: inline-block;
	margin-left: 10%;
	margin-top: 2%;
	/* border: 2px solid green; */
}

#filterDiv {
	height: 820px;
	width: 20%;
	border-right: 1px solid gray;
	float: left;
	cursor: pointer;
}

#contentDiv {
	height: 1370px;
	width: 75%;
	margin-left: 4%;
	float: left;
	cursor: pointer;
	/* border: 2px solid red; */
}

/* filterDiv css */
span {
	display: block;
	margin-bottom: 5px;
}

.subHeading {
	text-align: center;
	margin: 2% 0;
}


.filter-btn {
	float: right;
}

/* contentDiv css */

#rname {
	width: 100%;
	padding: 1%;
}

.tileContainer {
	width: 95%;
	height: 220px;
	margin-bottom: 5px;
	padding: 2%;
	/* border: 2px solid blue; */
}

.tileContainer:hover {
	transform: scale(1.1);
}

.tileComponent1 {
	width: 45%;
	height: 220px;
	float: left;
}

.tileComponent1 > img {
	height: 220px;
	width: 100%;
	border-radius: 15px;
}

.tileComponent2 {
	width: 50%;
	height: 220px;
	float: left;
	margin-left: 4%;
}

.componentHeading >a {
	color: rgb(8, 147, 194);
	font-size: 30px;
	font-weight: bold;
}

.componentSubHeading {
	color: #3b2632;
	margin-top: 4%;
	font-size: 16px;
}

.restaurantType {
	margin-top: 4%;
}


/* footer css */

footer {
	margin-top: 5%;
	height: 140px;
	text-align: center;
	/* border: 2px solid purple; */
	background-color: #3b2632;
	color: #fff;
	padding-top: 2px;
}

.footDiv {
	width: 33%;
	height: 70px;
	float: left;
	border-right: 2px solid white;
}

.noborder {
	border: none;
}
