body {
	margin: auto;
}

a {
	text-decoration: none;
}

/* header css */

header {
	height: 60px;
	color: white;
	/* border: 2px solid red; */
	background-color: #3b2632;
}

#brand {
	float: left;
	margin-left: 2%;
	margin-top: -1%;
}

#social {
	float: right;
	margin-right: 2%;
}

.social-logo {
	height: 40px;
	margin-left: 10px;
	margin-top: 6%;
}

/* search css */

#search {
	height: 400px;
	/* border: 2px solid green; */
	background-image: url("https://i.ibb.co/TtyBpt6/South-Indian-Food.jpg");
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-size: 100% 400px;
}

#logo {
	height: 150px;
	width: 150px;
	background-color: #fff;
	border-radius: 50%;
	margin-left: 45%;
	margin-top: 2%;
	position: absolute;
	font-size: 90px;
}

#logo >span {
	margin-left: 23%;
	margin-top: 12%;
	position: absolute;
}

#heading {
	font-size: 58px;
	color: #fff;
	margin-left: 28%;
	margin-top: 15%;
	position: absolute;
}

#dropdown {
	width: 50%;
	/* border: 2px solid white; */
	height: 40px;
	margin-left: 27%;
	margin-top: 22%;
	position: absolute;
}

select {
	font-size: 18px;
	text-align: center;
	width: 40%;
	height: 40px;
}

#restaurants {
	width: 59%;
}

/* quickSearch css */

#quickSearch {
	width: 80%;
	/* border: 2px solid orange; */
	margin-left: 10%;
	margin-top: 2%;
	display: inline-block;
}

#quickHeading {
	display: block;
	font-size: 30px;
	color: #3b2632;
	font-weight: bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 2%;
}

#quickSubHeading {
	display: block;
	font-size: 20px;
	color: gray;
	line-height: 2;
	margin-left: 2%;
}

.tileContainer {
	width: 30%;
	height: 160px;
	/* border: 2px solid red; */
	box-shadow: 10px 20px 10px #3b2632;
	float: left;
	margin-top: 2%;
	margin-left: 2%;
}

.tileComponent1 {
	width: 50%;
	height: 160px;
	float: left;
}

.tileComponent1 >img {
	width: 100%;
	height: 160px;
}

.tileComponent2 {
	width: 45%;
	float: left;
	margin-left: 5%;
	margin-top: 15%;
}

.componentHeading >a {
	color: #3b2632;
	font-size: 25px;
}

.componentSubHeading {
	color: gray;
	font-size: 20px;
}

/* footer css */

footer {
	height: 60px;
	border: 2px solid purple;
}

